@charset "UTF-8";

body {
    background-color: darkgrey;
    font-family: arial;
    font-size: 20px;
}
h1 {
    color: rgb(1, 31, 58);
    background-color: azure;
    text-decoration: underline;
    
}
h2 {
    color: rgb(106, 154, 245);
}
p {
    text-align: justify;
}
     